.app {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  /* Background styles */
  background-image: linear-gradient(rgba(245, 253, 227, 0.8),rgba(226, 201, 191, 0.774)), url('./Assets/mcgill.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app h1{
  text-align: center;
  padding-top: 30px;
  background-color: rgba(245, 253, 227, 0.1);
}

.app p{
  text-align: center;
}

.app #input {
  text-align: center;
}
